body{
text-align:center;
font-family:Arial;
background:#2e003e;
color:white;
}

#board{
width:400px;
height:400px;
margin:auto;
display:grid;
grid-template-columns:repeat(4,1fr);
grid-gap:10px;
background:#4b006e;
padding:10px;
border-radius:10px;
}

.tile{
width:90px;
height:90px;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
font-weight:bold;
border-radius:6px;
background:#a855f7;  /* default box color */
}
/* Tile Colors */

.tile-2{background:#7dd3fc;color:black;}
.tile-4{background:#86efac;color:black;}
.tile-8{background:#fcd34d;color:black;}
.tile-16{background:#fb923c;color:white;}
.tile-32{background:#f87171;color:white;}
.tile-64{background:#ef4444;color:white;}
.tile-128{background:#14b8a6;color:white;}
.tile-256{background:#3b82f6;color:white;}
.tile-512{background:#ec4899;color:white;}
.tile-1024{background:#22c55e;color:white;}
.tile-2048{background:#facc15;color:black;font-size:26px;}

#newGameBtn,#restartBtn{
margin-top:20px;
padding:12px 28px;
font-size:16px;
background:#9333ea;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

/* Game Over Popup */

#gameOverBox{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
display:none;
align-items:center;
justify-content:center;
}

#gameOverContent{
background:#4b006e;
padding:40px;
border-radius:10px;
}

/* Win Popup */

#winBox{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
display:none;
align-items:center;
justify-content:center;
}

#winContent{
background:#facc15;
color:black;
padding:40px;
border-radius:10px;
}

#continueBtn,#restartWinBtn{
margin-top:10px;
padding:10px 25px;
font-size:16px;
border:none;
border-radius:8px;
cursor:pointer;
}